---
- name: Docker-compose up
  hosts: localhost
  gather_facts: no
  collections:
    - community.docker
  tasks:
    - name: Copy file with owner and permissions
      ansible.builtin.copy:
        src: ceos-lab
        dest: /tmp
        mode: "0644"
    - name: Run `docker-compose up`
      community.docker.docker_compose:
        project_src: /tmp/ceos-lab
        build: no
      register: output
    # copy configuration files
    - name: Copy base-configuration
      command: docker cp ./startup-config {{ item }}:/mnt/flash/startup-config
      with_items:
        - spine-1
        - spine-2
        - leaf-1
        - leaf-2
        - leaf-3
        - leaf-4
      args:
        chdir: /tmp/ceos-lab/
      become: yes
      become_user: root
      become_method: sudo
      register: output
    - name: Merge configuration to running configuration
      command: docker exec -it {{ item }} Cli -p 15 -c "copy start run"
      with_items:
        - spine-1
        - spine-2
        - leaf-1
        - leaf-2
        - leaf-3
        - leaf-4
      args:
        chdir: /tmp/ceos-lab/
      become: yes
      become_user: root
      become_method: sudo
      register: output
    - ansible.builtin.debug:
        var: output
