---
- hosts: localhost
  gather_facts: false
  tasks:
    - name: Add host to group 'customer_provided'
      add_host:
        name: "{{ target_host }}"
        groups: customer_provided

- hosts: customer_provided
  gather_facts: false
  tasks:
    - name: configure L3 interface IPv4 address
      eos_l3_interfaces:
        config:
        - name: "{{ interface_name }}"
          ipv4:
          - address: "{{ interface_prefix }}"
        state: merged
      register: output
    - debug: var=output
    - name: configure L3 interface IPv6 address (if provided)
      eos_l3_interfaces:
        config:
        - name: "{{ interface_name }}"
          ipv6:
          - address: "{{ interface_prefix_ipv6 }}"
        state: merged
      when: (interface_prefix_ipv6 is defined) and (interface_prefix_ipv6 | length > 0)
      register: output
    - debug: var=output