---
- name: Docker-compose up
  hosts: localhost
  gather_facts: no
  collections:
    - community.docker
  tasks:
    - name: Copy file with owner and permissions
      ansible.builtin.copy:
        src: ceos-lab
        dest: /tmp
        mode: '0644'
    - name: Run `docker-compose up`
      community.docker.docker_compose:
        project_src: /tmp/ceos-lab
        build: no
      register: output
    - name: Configure base-configuration
      command: setup.sh
      args:
        chdir: /tmp/ceos-lab/
      register: output
    - ansible.builtin.debug:
        var: output
