---
- name: Docker-compose up
  hosts: localhost
  gather_facts: no
  collections:
    - community.docker
  tasks:
    - name: Copy file with owner and permissions
      ansible.builtin.copy:
        src: ceos-lab
        dest: /tmp
        mode: "0644"
    - name: Run `docker-compose up`
      community.docker.docker_compose:
        project_src: /tmp/ceos-lab
        build: no
      register: output
    # copy configuration files
    - name: Configure base-configuration
      ansible.builtin.shell:
        cmd: "docker cp ./startup-config spine-1:/mnt/flash/startup-config"
        chdir: /tmp/ceos-lab/
      become: yes
      executable: /bin/bash
      become_user: root
      become_method: sudo
      register: output
    - ansible.builtin.debug:
        var: output
