---
- name: Docker-compose up
  hosts: localhost
  gather_facts: no
  collections:
    - community.docker
  tasks:
    - name: Copy file with owner and permissions
      ansible.builtin.copy:
        src: ceos-lab
        dest: /tmp
        mode: "0644"
    - name: Run `docker-compose up`
      community.docker.docker_compose:
        project_src: /tmp/ceos-lab
        build: no
      register: output
    # copy configuration files
    - name: Configure base-configuration
      command:
        argv:
          - docker cp ./startup-config spine-1:/mnt/flash/startup-config
          - docker exec -it spine-1 Cli -p 15 -c "copy start run"
      args:
        executable: /bin/bash
        chdir: /tmp/ceos-lab/
      become: yes
      become_user: root
      become_method: sudo
      register: output
    - ansible.builtin.debug:
        var: output
