- name: Build Switch configuration
  hosts: spine,leaf
  connection: local
  gather_facts: no
  tasks:
    - name: "build local folders for output"
      tags: [build]
      import_role:
        name: arista.avd.build_output_folders

- hosts: spine,leaf
  gather_facts: no
  tasks:
    - name: generate device intended config and documentation
      import_role:
        name: arista.avd.eos_cli_config_gen
    - debug: msg="{{ root_dir + '/intended/configs/' + inventory_hostname + '.cfg' }}"
    - name: diff the running config against a master config
      eos_config:
        src: "{{ root_dir + '/intended/configs/' + inventory_hostname + '.cfg' }}"
