---
- hosts: all
  gather_facts: no
  tasks:
    - name: Send probe
      eos_command:
        commands:
          - command: "ping {{ item }} record-route repeat 5 size 1400"
            output: "text"
      loop: "{{ ping_host_list }}"
      register: ping_result

    - set_fact: loss='{{ ping_result['stdout'][0] | packet_loss }}'

    - assert:
        that:
          - "loss == '0'"
        msg: "Ping reported packet loss. {{ ping_result['stdout'][0] }}"
